body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NAv BAr */
.navbar-nav a {
  font-size: 18px;
}

.carsousel-item img {
  height: 550px;
}

.cartProductContainer {
  border: 1px solid #000;
  margin: 5px;
}
.cartProductContainer img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  background-size: contain;
}

.total {
  font-size: 3rem;
}
.statusContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  position: sticky;
  top: 0;
  height: 300px;
}

.cartContainer {
  margin-top: 100px;
}

.padding {
  padding: 5rem;
}

.mb-18 {
  margin-bottom: 18px;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-color: lightcyan !important;
}
